<html>
<head>
    <title>Gerador de frase de direita</title>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

</head>
<body style="margin-top:40px;">
      <div class="container">
        <h1>Gerador de frases de direita</a>
        <div id="view-10" view="">
          <div class="hero-unit">
                <h2><%=frase%></h2>      </div>
            </div>    </div>

<footer>
  <p>Baseado em um post do <a href="https://www.facebook.com/pedranosapato/photos/a.456600077745138.1073741828.456266371111842/662740650464412/?type=1&theater">facebook</a>
     e feito em um momento de insônia, código fonte no <a href="https://github.com/era/gerador_de_frase_de_direita">github</a> ;)

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51636168-1', 'gerador-de-frase-de-direita.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
